.main-image {
    width: 800px;
    margin: 0 auto;
}

.destination-page {
    text-align: center;
}

.attraction-img {
    width: 400px;
    height: 250px;
}

.attraction-list {
    display: inline-block;
    margin: 0 10px;
}