.main-image {
    width: 800px;
    margin: 0 auto;
}

.destination-page {
    text-align: center;
}

.attraction-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.attraction-list {
    display: inline-block;
    margin: 0 10px;
}

.destination-event-grid {
    display: flex;
}

.destination-event-box {
    width: 300px;
    border: 1px solid red;
    display: inline-block;
    margin: 10px 20px;
}

.destination-event-box img {
    width: 300px;
    height: 180px;
    object-fit: cover;
}