.main-image {
    width: 100vw;
    height: 40vw;
    object-fit: cover;
    margin: 10px auto;
}

.destination-page {
    text-align: center;
}

.destination-page h1 {
    border: 10px solid rgb(228, 228, 228);
    font-family: 'Playfair Display', serif;
    font-size: 38pt;
    padding: 10px 10px;
    margin: 30px auto;
    width: 500px;

}

.destination-page h2 {
    border-bottom: 3px solid rgb(228, 228, 228);
    font-family: 'Playfair Display', serif;
    font-size: 25pt;
    padding: 10px 10px;
    margin: 30px auto;
    width: 500px;

}

.destination-page h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
    padding: 10px 10px;
    margin: 15px auto;
    width: 500px;
}

/* .attraction-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
} */

/* .attraction-list {
    display: inline-block;
    margin: 0 10px;
} */

.destination-event-grid {
    display: flex;
}

.destination-event-box img {
    width: 300px;
    height: 180px;
    object-fit: cover;
}

.destination-description {
    font-size: 16pt;
    width: 60vw;
    margin: 0 auto 30px;
    color: rgb(62, 62, 62);
}

/* .carousel-image {
    width: 50vw;
    height: 28vw;
    object-fit: cover;
} */


.carousel {
    width: 50vw;
    margin: 0 auto;
    border: 5px solid rgb(208, 208, 208)
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.552);
    padding-top: -30px;
}

.carousel-caption h4 {
    font-family: 'Playfair Display', serif;
}

.carousel img {
    width: 50vw;
    height: 60vh;
    object-fit: cover;
}

.destination-event-grid {
    display: grid;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
    
}

.destination-event-box {
    position: relative;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    width: 75vw;
}

.destination-event-box img{
    width: 15vw;
    height: 9vw;
    object-fit: cover;
    position: relative;
    bottom: 25%;
    margin: auto;
}

.event-description h4 {
    font-family: 'Playfair Display', serif;
    position: relative;
    margin-top: 20px;
    /* border: 1px solid red; */
    display: inline-block;
}

.event-description {
    display: inline-block;
    width: 50vw;
    margin-left: 20px;
    /* border: 1px solid red; */

}




