.profile-img {
    width: 250px;
    height: 140px;
    object-fit: cover;
    display: inline-block;
}

.planner-list {
    /* border: 1px solid red; */
    display: grid;
    
}

.planner-name {
    position: relative;
    display: inline-block;
    margin: auto;
    border: 1px solid red;
    vertical-align: middle;
}

.planner-box{
    position: relative;
    width: 75vw;
    border: 2px solid rgb(48, 48, 48);
    margin: 15px auto;
    padding: 15px;
}

.planner-edit-delete {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.profile-page h1 {
    border-bottom: 3px solid rgb(228, 228, 228);
    font-family: 'Playfair Display', serif;
    font-size: 25pt;
    padding: 10px 10px;
    margin: 30px auto;
    width: 500px;

}

.planner-list {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 5px;
}

.profile-page h2{
    font-family: 'Playfair Display', serif;

}




.planner-edit-delete button{
    width: 180px;
    color: black;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background: rgb(228, 228, 228);
    border: 0;
    border-radius: 15px;
    outline: none;
    box-shadow: 2px 3px 8px 2px  rgb(202, 202, 202);
    
}

planner-edit-delete button:hover {
    background: #fdce00;
    cursor: pointer;
}
