.profile-img {
    width: 250px;
    height: 140px;
    object-fit: cover;
    display: inline-block;
}



.planner-name {
    position: relative;
    display: inline-block;
    margin: auto;
    font-family: 'Playfair Display', serif;
    vertical-align: middle;
}

.planner-box{
    position: relative;
    width: 35vw;
    height: 30vw;
    border: 3px solid rgb(228, 228, 228);
    margin: 15px auto;
    padding: 15px;
}



.profile-page h1 {
    border-bottom: 3px solid rgb(228, 228, 228);
    font-family: 'Playfair Display', serif;
    font-size: 25pt;
    padding: 10px 10px;
    margin: 30px auto;
    width: 500px;

}

.planner-list {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 5px;
}

.planner-list:hover .planner-name {
    opacity: 1;
}

.planner-list:hover .profile-img {
    filter: brightness(50%)
}

.planner-name {
    font-family: 'Playfair Display', serif;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18pt;
    background-color: rgba(255, 255, 255, 0.838);
    padding: 15px 30px;
    opacity: 0;
    transition: opacity 0.2s;
}

.profile-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    filter: brightness(100%);
    transition: filter 0.2s;
}

.profile-page h2{
    font-family: 'Playfair Display', serif;

}




.planner-edit-delete button{
    width: 180px;
    color: black;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background: rgb(228, 228, 228);
    border: 0;
    border-radius: 15px;
    outline: none;
    box-shadow: 2px 3px 8px 2px  rgb(202, 202, 202);
    margin: 0;
   
    
}

.planner-edit-delete button:hover {
    background: #fdce00;
    cursor: pointer;
}


.planner-list {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 5px;
}