.mapContainer {
    width: 70vw;
    height: 40vw;
    margin: 0 auto; 
    

}

.mapTitle {
    color: #E87F5B;

}

.mapMarker {
    background-color: #E87F5B; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* font-size: 14pt; */
    cursor: pointer;
    transition: 0.3s;
}

.mapMarkerText {
    font-size: 14pt;
    text-align: right;
    padding-right: 100px;
    padding-top: 50px;

}




.mapMarker .details {
    display: none;
}

.mapMarker:hover .details{
    display: inline-block;
}

.mapMarker:hover {
    width: 40px;
    height: 40px;
    font-size: 18pt;
}

.opening-text {
    font-family: 'Playfair Display', serif;
    margin: 15px;
  }