.mapContainerDes {
    width: 70vw;
    height: 40vw;
    margin: 0 auto; 

}



.mapMarkerDes {
    position: relative;
    width: 90px;
    cursor: pointer;
    transition: 0.3s;
}

.mapMarkerDes-image {
    position: relative;
    top: 50%;
    right: 50%;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    border: 3px solid #e89a5b;
    object-fit: cover;
}

.mapMarkerDesText{
    position: relative;
    top: 50%;
    right: 50%;
    font-size: 12pt;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.534);
    color: whitesmoke;
    margin-top: 5px;

}

.mapMarkerDes .details {
    display: none;
}

.mapMarkerDes:hover .details{
    display: inline-block;
}

/* .mapMarkerDes:hover {
    width: 40px;
    height: 40px;
    font-size: 18pt;
} */