.mapContainer {
    position: relative;
    width: 70vw;
    height: 40vw;
    margin: 0 auto; 
    
}

.mapTitle {
    color: #E87F5B;

}

.mapMarker {
    /* border: 1px solid red; */
    position: relative;
    width: 90px;
    cursor: pointer;
    transition: 0.3s;

}

.mapMarker-position {
    position: relative;
}

.mapMarker-image {
    position: relative;
    top: 50%;
    right: 50%;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    border: 3px solid #e89a5b;
    object-fit: cover;
}

.mapMarkerText {
    position: relative;
    top: 50%;
    right: 50%;
    font-size: 14pt;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.534);
    color: whitesmoke;
    margin-top: 5px;

}

.mapMarker .details {
    display: none;
}

/* .mapMarker:hover .details{
    display: inline-block;
}

.mapMarker:hover {
    width: 40px;
    height: 40px;
    font-size: 18pt;
} */

.opening-text {
    font-family: 'Playfair Display', serif;
    margin: 15px;
  }