
ul{
   list-style-type: none;
}

.home-page {
  text-align: center;
}


h1{
  text-align: center;
  color: rgb(131, 129, 129);
}

/*  This is to remove default hyperlink line */
a:link{
  text-decoration: none;
 
}
a.main-title{
  color: rgb(131, 129, 129);
}

a.main-title:hover{
  color: #ffd000;
}



.navbar {
  /* border: 1px solid red; */
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(#cad8dc, #d0c5c8);
}

.navbar li {
  display: inline-block;
  padding: 0 40px;
}

.navbar ul {
  /* border: 1px solid red; */
  margin: 0 auto;
}

header h1 {
  margin: 70px;
}

.link-font {
  color: black;
}

.main-title {
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 60pt;
}

.welcome-text {
  font-family: 'Playfair Display', serif;
  font-size: 14pt;
}










/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
